{% extends 'blog/base.html' %}

{% block content %}

<div class="col-lg-8 col-md-10 mx-auto">
    <div class="post-preview">
        <h2 class="post-title">
          {{ blog.title }}
        </h2>
        <p>
            {{ blog.content }}
        </p>
        <p class="post-meta">Posted by : {{ blog.author.username }}
            on: {{ blog.post_created }}</p>
        {% if blog.author == user %}
        <div>
            <a href="{% url 'blog-post-update' blog.id %}" class="btn btn-info" >Update</a>
            <a href="{% url 'blog-post-delete' blog.id %}" class="btn btn-danger" >Delete</a>
        </div>
        {% endif %}
    </div>
</div>

{% endblock content %}